#Gallery{
    border: 2px solid red;
        .gallery-cards{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1em;
        }
       .card{
           border: 2px red solid;
           height: 400px;
           width: 400px;
           padding: 1em;
       }
}
