#header{
    background: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    #logo{
        color: silver;
    }
    #hamburger{
        display: none;
        .line{
            background: silver;
            width: 30px;
            margin: 3px;
            height: 3px;
        } 
    }
    .navUL{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        list-style: none;
        li a{
            text-decoration: none;
            color: silver;
            padding: 1em;
        }
    }
}

@media(max-width: 700px){
    #header{
        #hamburger{
            display: block;
        }
        .navUL{
            display: none;
            flex-direction: column;
            width: 100%;
            li{
                padding: 1em;
            }
        }
        .navUL.active{
            display: flex;
        }
    }
}