#header {
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #logo {
  color: silver;
}

#header #hamburger {
  display: none;
}

#header #hamburger .line {
  background: silver;
  width: 30px;
  margin: 3px;
  height: 3px;
}

#header .navUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  list-style: none;
}

#header .navUL li a {
  text-decoration: none;
  color: silver;
  padding: 1em;
}

@media (max-width: 700px) {
  #header #hamburger {
    display: block;
  }
  #header .navUL {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #header .navUL li {
    padding: 1em;
  }
  #header .navUL.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#showcase {
  background-image: url("/images/showcase.jpeg");
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: silver;
  font-size: 60px;
}

.social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  opacity: 0.9;
  margin-top: -5.5em;
  width: 40%;
  margin-left: 60%;
  padding: 2em;
}

.social-bar .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.social-bar .social-link li a {
  padding: 2em;
  color: whitesmoke;
}

@media (max-width: 700px) {
  .social-bar {
    margin-top: -9em;
  }
  .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main #main-title {
  text-align: center;
}

#main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

#main .main .main-article {
  padding: 3em;
}

#main .main .img-main {
  padding: 2em;
}

@media (max-width: 700px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#Gallery {
  border: 2px solid red;
}

#Gallery .gallery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

#Gallery .card {
  border: 2px red solid;
  height: 400px;
  width: 400px;
  padding: 1em;
}

#about #about-title {
  text-align: center;
}

#about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

#about .about .about-article {
  padding: 3em;
}

#about .about .img-about {
  padding: 2em;
}

@media (max-width: 700px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #333;
  color: whitesmoke;
}

img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */